@font-face {
	font-family: 'Gilroy-Black';
	src: url('../Assets/Fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../Assets/Fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-ExtraBold';
	src: url('../Assets/Fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-Heavy';
	src: url('../Assets/Fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-Light';
	src: url('../Assets/Fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../Assets/Fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../Assets/Fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../Assets/Fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-Thin';
	src: url('../Assets/Fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Gilroy-UltraLight';
	src: url('../Assets/Fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
}

/* hide scroll bar */

.hide-it::-webkit-scrollbar {
	display: none;
}
.hide-it {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* --------------- */

body,
html {
	overscroll-behavior: none;
	box-sizing: border-box !important;
}

#home_hero_be_discovered_btn svg {
	margin-right: 0.416vw;
	width: 1.85vh;
	height: 1.85vh;
}

#home_hero_discover_talent_btn svg {
	margin-right: 0.416vw;
	width: 1.85vh;
	height: 1.85vh;
}

#navbar_become_member_btn svg {
	margin-right: 0.56vw;
	height: 2.22vh;
	width: 2.22vh;
}
