.talents-card-1 {
	background-image: url('../../../../Assets/Images/cards/Rectangle\ 7.png');
}

.talents-card-2 {
	background-image: url('../../../../Assets/Images/cards/Rectangle\ 8.png');
}

.talents-card-3 {
	background-image: url('../../../../Assets/Images/cards/Rectangle\ 9.png');
}

.talents-card-4 {
	background-image: url('../../../../Assets/Images/cards/Rectangle\ 10.png');
}
